<p id="notice"><%= notice %></p>

<table class="table table-striped">
  <tbody>
    <% @pages.each do |page| %>
      <tr>
        <td>
          <strong>(<%= page.status %>)</strong>
        </td>
        <td>
          <%= page.title %>
        </td>
        <td class="text-right">
          <%= link_to 'Edit', edit_page_path(page), class: 'text-success' %>
          <%= link_to 'Delete', page, 
              method: :delete, 
              class: 'text-danger',
              data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
      <tr>
        <td colspan="3" style="padding:1% 10% 5% 10%;">
          <%= simple_format page.body %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>