<p id="notice"><%= notice %></p>

<table class="table table-striped">
  <tbody>
    <% @gigs.each do |gig| %>
      <tr>
        <td><strong><%= gig.name %></strong></td>
        <td><%= gig.formatted_date %></td>
        <td class="text-right">
          <%= link_to 'View', gig, class: 'text-primary' %>
          <%= link_to 'Edit', edit_gig_path(gig), class: 'text-success' %>
          <%= link_to 'Delete', gig, 
                      method: :delete,
                      class: 'text-danger',
                      data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
      <tr>
        <td colspan="3" style="padding:1% 10% 5% 10%;"><%= simple_format gig.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>