<p id="notice"><%= notice %></p>

<h1>Gigs</h1>

<table class='table-striped'>

  <tbody>
    <% @gigs.each do |gig| %>
      <tr>
        <td><%= gig.name %></td>
        <td><%= gig.formatted_date %></td>
        <td class="text-right">
          <%= link_to 'View', gig, class: 'btn btn-primary' %>
          <%= link_to 'Edit', edit_gig_path(gig), class: 'btn btn-success' %>
          <%= link_to 'Delete', gig, 
                      method: :delete,
                      class: 'btn btn-danger',
                      data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
      <tr>
        <td colspan='3' style="padding-bottom:30px;"><%= gig.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Gig', new_gig_path %>
