<section class="photos">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4 col-md-3 col-sm-6 photo-container">
       <%= image_tag "20170626_101943.jpg",  alt: "" %>
      </div>
      <div class="col-lg-4 col-md-3 col-sm-6 photo-container">
        <%= image_tag "drumkit.jpg",  alt: "" %>
      </div>
      <div class="col-lg-4 col-md-3 col-sm-6 photo-container">
        <%= image_tag "stage.jpg",  alt: "" %>
      </div>
      <div class="col-lg-4 col-md-3 col-sm-6 photo-container"> 
       <%= image_tag "studio.jpg",  alt: "" %>
      </div>
      <div class="col-lg-4 col-md-3 col-sm-6 photo-container"> 
        <%= image_tag "fire.jpg",  alt: "" %>
        </div>
      <div class="col-lg-4 col-md-3 col-sm-6 photo-container"> 
        <%= image_tag "santa.jpg",  alt: "" %>
      </div>
    </div>
  </div>
</section>