<!DOCTYPE html>
<html>

  <head>
    <title>Lynn Farmer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class='container' id='admin-container'>
    <%= yield %>
  </body>
</html>



